.filters {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div + div {
    margin-top: 1em;
  }

  @media all and (min-width: $breakpoint-small) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;

    & > div + div {
      margin-top: 0;
    }
  }
}
