.toast {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  left: calc(50% - (#{$toast-width} / 2));
  width: $toast-width;
  background-color: transparentize($darker-background-color-alt, 0.1);
  color: $text-color-alt;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  border-radius: 2px;
  visibility: hidden;

  &.show {
    visibility: visible;
    animation: fadein .3s, fadeout .3s 2.5s;
  }
}
