.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  position: relative;
  padding: 1em;
  color: $text-color-alt;
  text-align: center;

  & > * {
    position: relative;
    z-index: 3;
  }

  &__head {
    position: absolute;
    z-index: 3;
    top: 16px;
    left: 0;
    right: 0;
    font-size: 1.4em;
    font-weight: 300;
  }

  &__title {
    font-size: $large-font-path;
    margin-bottom: 1em;
  }

  &__paragraph {
    font-size: $medium-font-size;
    font-weight: 300;
    line-height: 1.2;
    max-width: 500px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparentize($black, 0.4);
  }

  @media all and (min-width: $breakpoint-medium) {
    padding: 2em;
    background: url(images/cameras.jpg);
    background-position: center 20%;
    background-size: cover;

    &__head {
      font-size: 1.75em;
      top: 32px;
    }

    &__title {
      font-size: 4em;
      margin-bottom: 0.5em;
    }

    &__paragraph {
      font-size: 1.5em;
    }
  }
}
