// Font-Awesome
// --------------------
$fa-font-path: "~font-awesome/fonts";

// Font sizes
// --------------------
$default-font-size: 16px;
$medium-font-size: 20px;
$large-font-path: 38px;

$font-family: 'Roboto';
$font-family-fallback: 'Helvetica', sans-serif;

// Colors
// --------------------
$grey: #EEEEEE;
$light-grey: #F6F6F6;
$dark-grey: #555555;
$white: #FFFFFF;
$black: #000000;
$light-black: #212529;

$text-color: $light-black;
$text-color-alt: $white;
$main-background-color: $white;
$background-color-alt: $grey;
$lighter-background-color-alt: $light-grey;
$darker-background-color-alt: $dark-grey;

// Breakpoints
// --------------------
$breakpoint-small: 610px;
$breakpoint-medium: 880px;
$breakpoint-large: 1100px;

// Others
// --------------------
$toast-width: 250px;
